@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
     }

body {
    box-sizing: border-box;
    margin: auto;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
    background-color: #d4a981;
}

#index {
    margin:0;
    padding:0;
}

.cap {
    margin: .5rem 0;
    padding: .9rem 0 .4rem 1.4rem;
    border: .2rem solid #d4a98155;
    border-radius: .25rem;
    box-shadow: .1rem .1rem .2rem #eee;
    font-size: 2rem;
}

.cap span {
    vertical-align: middle;
    margin-right: 2rem;
}

.cap img {
    border-radius: .5rem;
}

#index a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: #0a0a0a;
}

a {
    text-decoration-skip-ink: auto;
}

.toindex a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1rem;
    padding: 0 2rem;
}

nav {
    background-color: #ffffff22;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
    margin-bottom: 0;
}

nav ul li:hover {
    background-color: #ffffff22;
}

nav ul li a {
    display: block;
    text-align: center;
    padding: 1.4rem 1.8rem;
    text-decoration: none;
}

nav ul li.right {
    float: right;
}

q {
    font-style: italic;
}

@media screen and (max-width: 600px) {
    nav ul li {
        float: none;
    }
}

h1,
h2 {
    margin-bottom: 4rem;
    padding: 1.2rem 0 2rem 0;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    line-height: 5rem;
    background-color:#81acd4;
}

h2 {
    margin-top: -4rem;
    padding-top: 0;
    font-size: 2.8rem;
}

h3 {
    padding: 1rem 0 1rem 0;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

section {
    width: 66%;
    margin: 1rem auto 1rem auto;
    border-radius: 5px;
    padding: 4.5rem 4.2rem 4.5rem 4.2rem;
    background-color: #ffffffaa;
    box-shadow: .5rem .5rem .5rem #444;
    text-align: left;
}

@media (max-width: 1024px) {
    section {
        width: 80%;
    }
}

@media (max-width: 720px) {
    section {
        width: 98%;
        padding: 3.5rem 2rem;
        box-shadow: .1rem .1rem .2rem #444;;
    }
}

p {
    margin-bottom: 1rem;
}

ul,
ol {
    margin: 1rem 0 1.5rem 4rem;
}

li {
    margin-bottom: 1.2rem;
}

.icon {
    transform: translateY(3px);
    padding: 0 .7rem 0 0;
}

.imatge {
    max-width: 85%;
    margin: 2.5rem auto 2rem auto;
    text-align: center;
}

.imatge img {
    max-width: 100%;;
}

.video {
    max-width: 85%;
    margin: 2.5rem auto;
    text-align: center;
    background-color: #81acd4;
   /*  border: 2px solid #81acd4; */
}

/* .iframe {
    margin: 2.5rem auto;
    text-align: center;
} */

.youtube-player {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    /*margin: 5px;*/
}

.youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
}

.youtube-player img {
    object-fit: cover;
    display: block;
    left: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    transition: 0.4s all;
}

.youtube-player img:hover {
    -webkit-filter: brightness(75%);
}

.youtube-player .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url('//i.imgur.com/TxzC70f.png') no-repeat;
    cursor: pointer;
}

.caption {
    margin: 0;
    padding: .5rem 0 .5rem 1rem;
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.5rem;
}